{% extends 'includes/navbar.html' %}
{% block content %}

<div class="app-wrapper">
	    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <h3 class="text-center mt-5">Add Partner</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row m-5 p-3 border">
                        <!-- for messages -->
                        {% if messages %}
                        {% for message in messages %}
                        <div class="row mt-2">

                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                        </div>
                        {% endfor %}
                        {% endif %}
                        <!-- end message  -->

                        <form action="" method="POST">
                            {% csrf_token %}
                                <div class="col-sm-12 my-2">
                                    {{form.created_date.label}}
                                </div>
                                <div class="col-sm-12 ">
                                {{form.created_date}}
                                </div>

                                <div class="col-sm-12 my-2">
                                    {{form.project.label}}
                                </div>
                                <div class="col-sm-12 ">
                                {{form.project}}
                                </div>
                                <div class="col-sm-12 my-2">
                                    {{form.amount.label}}
                                </div>
                                <div class="col-sm-12 ">
                                {{form.amount}}
                                </div>
                            
                            <div class="text-center mt-5"><button type="submit" class="btn btn-primary"> SUBMIT</button></div>
                            
                      </form>

                    
                    </div>
</form>

            




    
</div>
</div>
</div>
{% endblock %}