{% extends 'includes/navbar.html' %}
{% block content %}
{% load mathfilters %}
<div class="app-wrapper">
	    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
<div class="col-sm-8 col-lg-9 container ">
    <h3 class="text-center mt-5">View Profit</h3>
   
    <div class="row m-5 p-3 border bg-white">
        <table class="table ">
            <tr>
                <th>Date</th>
                <th>Project</th>
                <th>Amount</th>
                <th></th>
            </tr>
            {% for profit in profits %} 
            <tr>
                <td>{{profit.created_date}}</td>
                <td>{{profit.project}}</td>
                <td>{{profit.amount}}Rs</td>
                <td><a href="{% url 'profitdelete' prof_id=profit.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
           
        </table>
       
    </div>
    <!-- <div class="row mt-5">
                <center>
                   
                {% if page.has_previous %}
                <a href="?page={{page.previous_page_number}}" class="m-3" >Previous &nbsp; &nbsp; |</a>
                {% endif %}
                <span class="m-3">{{page.number}} &nbsp;&nbsp;  |</span>
                {% if page.has_next %}
                <a href="?page={{page.next_page_number}}" class="m-3" >Next</a>
                {% endif %}
                   
                </center>
                
                
          
    </div> -->


    

</div>
</div>
</div>
</div>
{% endblock %}